@charset "UTF-8";
.wrap {
  width: 9.2rem;
  margin: auto;
}
.top {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  height: 1.2rem;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 0.02666666666666667px solid #f6f1ed;
}
.top_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.top_btn li {
  box-sizing: border-box;
  height: 1.2rem;
}
.top_btn p {
  font-size: 0.4rem;
  color: #222;
  line-height: 1.1333333333333333rem;
}
.top_btn .top_on p {
  color: #ff9000;
  border-bottom: 0.05333333333333334rem solid #ff9000;
  border-radius: 0.05333333333333334rem;
}
/*banner*/
.banner img {
  width: 100%;
  height: 4rem;
}
/*content*/
.content {
  margin-bottom: 1.3333333333333333rem;
}
.content_2 {
  margin-top: 1.2rem;
}
/*bottom*/
.bottom {
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 1.3333333333333333rem;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 1px solid #cfcecc;
}
.bot_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bot_list li {
  width: 3.3333333333333335rem;
}
.bot_list img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  margin: 0.2rem auto 0;
}
.bot_list p {
  font-size: 0.26666666666666666rem;
  line-height: 0.5333333333333333rem;
  text-align: center;
}
.bot_list .li_on p {
  color: #ff9000;
}
/*信用卡介绍 海报 页面的  底部*/
.bottom_intro {
  height: 1.6rem;
}
.bot_btn {
  display: flex;
  flex-direction: row;
}
.bot_btn p {
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  width: 4.84rem;
  height: 1.3066666666666666rem;
  background-color: #ff9000;
  border-radius: 0.13333333333333333rem;
  margin: 0.14666666666666667rem 0 0 0.10666666666666667rem;
  line-height: 1.3066666666666666rem;
}
/*办卡攻略 页面 底部按钮*/
.bot_btn_2 {
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  background-color: #ff9000;
  line-height: 1.3333333333333333rem;
}
/*  我的页面  我的钱包页面  公用的  列表*/
.my_list {
  border-top: 0.26666666666666666rem solid #f6f1ed;
}
.my_list li .wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.my_list li {
  height: 1.3066666666666666rem;
  line-height: 1.3066666666666666rem;
  border-bottom: 2px solid #f6f1ed;
}
.my_le,
.my_ri {
  display: flex;
  flex-direction: row;
}
.my_le p {
  font-size: 0.4rem;
  color: #0e2332;
}
.my_le img {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.36rem 0.2rem 0 0;
}
.my_ri p {
  font-size: 0.32rem;
  color: #999999;
}
.my_ri img {
  width: 0.17333333333333334rem;
  height: 0.28rem;
  margin: 0.5066666666666667rem 0 0 0.2rem;
}
/*蒙版*/
.mask_1 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: none;
}
/*弹框*/
.pup_1 {
  position: fixed;
  bottom: 0;
  left: 0.4rem;
  top: 3.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 21;
  width: 9.2rem;
  height: 8.666666666666666rem;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow-y: auto;
  display: none;
}
.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.show_all .close img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  margin: 0.5333333333333333rem;
}
.pup_num {
  width: 8rem;
  margin: auto;
  border-top: 0.05333333333333334rem solid #dcdcdc;
}
.pup_num p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.4rem;
  color: #222;
  height: 1rem;
  border-bottom: 0.05333333333333334rem solid #dcdcdc;
}
.pup_num span {
  width: 2rem;
  line-height: 1rem;
  text-align: center;
}
.pup_word {
  width: 8rem;
  margin: 0.5333333333333333rem auto;
}
.pup_word p {
  font-size: 0.4rem;
  line-height: 0.7333333333333333rem;
}
.pup_p1 {
  color: #222;
}
.pup_p2 {
  color: #666;
}
/*显示弹框 蒙版*/
.show_all {
  display: block;
}
