@charset "UTF-8";
.order_list {
  background-color: #fff;
}
.order_list li {
  padding: 0.4rem 0;
  border-bottom: 0.26666666666666666rem solid #f6f1ed;
}
.order_list li .wrap {
  display: flex;
  flex-direction: row;
}
.status span {
  width: 0.26666666666666666rem;
  font-size: 0.26666666666666666rem;
  color: #fff;
  background-color: #ff9000;
  text-align: center;
  white-space: pre-wrap;
  padding: 0.13333333333333333rem 0.26666666666666666rem;
  border-radius: 0.16rem;
  line-height: 0.4rem;
  max-height: 2.6666666666666665rem;
  display: inline-block;
}
.order_info {
  width: 7.733333333333333rem;
  margin-left: 0.26666666666666666rem;
}
.ord_p1 {
  font-size: 0.4rem;
  color: #222;
  line-height: 0.5333333333333333rem;
}
.ord_p2 {
  font-size: 0.32rem;
  color: #666;
  line-height: 0.5333333333333333rem;
}
.ord_p3 {
  font-size: 0.32rem;
  color: #ff0000;
}
/*浅鲸*/
/*
.wrap{width: 690/75rem;margin: auto;}

.top{position: fixed;;width: 100%;z-index: 10;top: 0;left: 0;border-bottom:1px solid #d2d2d2;
  height: 95/75rem;box-sizing: border-box;background-color: #fff;}
.top p{font-size: 40/75rem;text-align: center;line-height: 95/75rem;}
.top .wrap{position: relative;}
.back{position: absolute;left: 0;top: 0;z-index: 20;}
.back img{width: 40/75rem;height: 94/75rem;}

/!*.content{margin-top: 95/75rem;}*!/
/!*.item{}*!/

.title{display: flex;;flex-direction: row;;justify-content: space-between;height: 90/75rem;
  border-bottom:1px solid #d2d2d2;}
.title p{  font-size: 28/75rem;color: #000;line-height: 90/75rem; margin-left: 30/75rem;}
.title img{width: 18/75rem;height: 18/75rem;margin: 36/75rem 30/75rem;}

.word{padding: 25/75rem 0;border-bottom:1px solid #d2d2d2;display: none;background-color: #f5f5f5;}
.word p{font-size: 24/75rem;color: #000;line-height: 45/75rem;}

.item_on .word{display: block;}*/
/*分享 指纹页面*/
.share {
  background-color: #ab0025;
}
.share_code {
  width: 8rem;
  margin: auto;
  padding: 0.5333333333333333rem 0;
}
.share_big img {
  width: 100%;
  height: 11.293333333333333rem;
}
.share_1 {
  width: 4.4rem;
  height: 0.4666666666666667rem;
}
.share_img {
  margin-top: 0.4rem;
}
.share_img img {
  float: left;
}
.share_2 {
  width: 0.4rem;
  height: 2.8rem;
}
.share_3 {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.5333333333333333rem;
}
.share_img .share_4 {
  float: right;
  width: 2.5866666666666664rem;
  height: 3.3466666666666667rem;
}
/*第三版 分享*/
/*.san_big {width: 100%;height: 1000/75rem;}*/
.san_share {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  left: 0;
  height: 100%;
}
.san_big {
  width: 100%;
  height: 100%;
}
.san_box {
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 30;
}
.san_1 {
  width: 1.5466666666666666rem;
  height: 1.5466666666666666rem;
  margin: auto;
}
.san_one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.6666666666666666rem;
}
.san_2 {
  width: 0.6666666666666666rem;
  height: 1.9333333333333333rem;
  margin-top: 0.4rem;
}
.san_3 {
  width: 2.7333333333333334rem;
  height: 2.7333333333333334rem;
  border: 0.06666666666666667rem solid #343434;
  box-sizing: border-box;
  margin: 0 0.4rem;
}
.san_4 {
  width: 4.933333333333334rem;
  height: 3.3333333333333335rem;
  margin: 0.5333333333333333rem auto;
}
